<!DOCTYPE html>
<html>
  <head>
    <title>Volcano Cloud Community</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render partial: 'shared/head' %>
  </head>

  <body>
    <div id="header-section">
      <%= render partial: 'shared/header' %>
    </div>
    <main id="main">
      <%= yield %>
    </main>
    <div id="footer-section">
      <%= render partial: 'shared/footer' %>
    </div>
    <div id="scripts-section">
      <%= render partial: 'shared/scripts' %>
    </div>
    <div id="preloader"></div>
  </body>
</html>
